version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      all:
        patterns: ["*"]

  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "monthly"
    groups:
      all:
        patterns: ["*"]

  - package-ecosystem: "gradle"
    directory: "/backend"
    schedule:
      interval: "monthly"
    groups:
      all:
        patterns: ["*"]
